{{ define "owner/form" }}

<h6 class="fw-semibold mb-3">
    {{ if .is_edit }}✏️ Editar Dueño{{ else }}➕ Nuevo Dueño{{ end }}
</h6>

<form {{ if .is_edit }}hx-put="/owners/{{.owner.ID}}"{{else}}hx-post="/owners"{{end}}
    hx-target="#lista-owners"
    hx-target-error="#alerta-error"
    hx-swap="innerHTML"
    autocomplete="off">

    <div class="mb-3">
        <label class="form-label small fw-medium">Identificación</label>
        <input type="text" name="identification"
             {{ if .is_edit }}value="{{.owner.Identification}}" readonly{{ end }}
            class="form-control {{ if .is_edit }}bg-light{{ end }}"
            class="form-control"
            placeholder="ej: 10324677">
    </div>

    <div class="mb-3">
        <label class="form-label small fw-medium">Nombre completo</label>
        <input type="text" name="name"
            {{ if .is_edit }}value="{{.owner.Name}}"{{ end }}
            class="form-control"
            placeholder="ej: Juan Pérez">
    </div>

    <div class="mb-3">
        <label class="form-label small fw-medium">Correo electrónico</label>
        <input type="email" name="email"
            {{ if .is_edit }}value="{{.owner.Email}}"{{ end }}
            class="form-control"
            placeholder="ej: juan@correo.com">
    </div>

    <div class="mb-3">
        <label class="form-label small fw-medium">Teléfono</label>
        <input type="tel" name="phone"
            {{ if .is_edit }}value="{{.owner.Phone}}"{{ end }}
            class="form-control"
            placeholder="ej: 3001234567">
    </div>

    <div class="mb-3">
        <label class="form-label small fw-medium">Apartamento</label>
        <select name="unit_id" class="form-select">
            <option value="">Seleccione un apartamento...</option>
            {{ range .units }}
            <option value="{{ .ID }}"
                {{ if $.is_edit }}{{ if eq .ID $.owner.UnitID }}selected{{ end }}{{ end }}>
                {{.Type }} {{ .Number }}
            </option>
            {{ end }}
        </select>
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary btn-sm">
            {{ if .is_edit }}Guardar cambios{{ else }}Agregar{{ end }}
        </button>
        {{ if .is_edit }}
        <button type="button" class="btn btn-outline-secondary btn-sm"
            hx-get="/owners/form/0"
            hx-target="#contenedor-formulario"
            hx-target-error="#alerta-error">
            Cancelar
        </button>
        {{ end }}
    </div>

</form>
{{ end }}