

{{ define "owner/form" }}
<h3>{{ if .is_edit }} Editar Dueño {{ else }} Nuevo Dueño {{ end }}</h3>

<form {{ if .is_edit }}hx-put="/owners/{{.owner.ID}}"{{else}}hx-post="/owners"{{end}} 
  hx-target="#lista-owners" 
  hx-target-error="#alerta-error" 
  hx-swap="innerHTML"
  autocomplete="off">

  <input type="text" name="name"{{ if .is_edit }}value="{{.owner.Name}}"{{end}} class="form-control" placeholder="Nombre">
  <input type="text" name="email" {{ if .is_edit }}value="{{.owner.Email}}"{{end}} class="form-control" placeholder="Email">
  <input type="text" name="phone" {{ if .is_edit }}value="{{.owner.Phone}}"{{end}} class="form-control" placeholder="Telefono">
  <select name="apartment_id" class="form-select">
    <option value="">Seleccione un apartamento...</option>
    
    {{ range .apartments }}
        <option value="{{ .ID }}" 
            {{ if $.is_edit }}{{ if eq .ID $.owner.ApartmentID }}selected{{ end }}{{ end }}>
            {{ .Number }}
        </option>
    {{ end }}
</select>
  <button type="submit" class="btn btn-primary mt-2" hx-target-error="#alerta-error">{{ if .is_edit }}Editar{{else}}Agregar{{end}}</button>
  {{ if .is_edit }}
        <button type="button" class="btn btn-link mt-2" hx-get="/owners/form/0" hx-target="#contenedor-formulario" hx-target-error="#alerta-error">
            Cancelar
        </button>
        {{ end }}
</form>
{{ end }}